{{ define "main" }}
{{- $color := "blue" -}}
{{- if eq .Section "signals" }}{{ $color = "orange" }}{{ end -}}
{{- if eq .Section "news" }}{{ $color = "blue" }}{{ end -}}
{{- if eq .Section "projects" }}{{ $color = "green" }}{{ end -}}
{{- if eq .Title "Subscribe" }}{{ $color = "purple" }}{{ end -}}
{{- if eq .Title "About" }}{{ $color = "slate" }}{{ end -}}
{{- if eq .Title "Contact" }}{{ $color = "slate" }}{{ end -}}
{{- if eq .Title "How We Help" }}{{ $color = "purple" }}{{ end -}}
{{- if eq .Title "Current Engagements" }}{{ $color = "purple" }}{{ end -}}
{{ partial "section-banner.html" (dict "title" .Title "subtitle" (or .Params.subtitle .Description) "color" $color) }}
<article class="content-single">
  <div class="container">
    {{- $author := index .Site.Params.authors (default "" .Params.author) -}}
    {{- if or (not .Date.IsZero) $author .Params.summary }}
    <header class="content-header">
      {{ with .Date }}{{ if not .IsZero }}<time datetime="{{ .Format "2006-01-02" }}">{{ .Format "2 January 2006" }}</time>{{ end }}{{ end }}
      {{ with $author }}
      <p class="content-byline">By {{ .name }}</p>
      {{ end }}
      {{ with .Params.summary }}<p class="lead">{{ . }}</p>{{ end }}
    </header>
    {{- end }}
    <div class="content-body">
      {{ .Content }}
    </div>
    {{ partial "engagement.html" . }}
    {{ partial "copyright.html" . }}
  </div>
</article>
{{ end }}
